body {
  background-color: #DEB887
}

h1{
  font-family: "Book Antiqua", Georgia, serif;
}

div {
  background-colour: #000000
{
  font-family: monospace;
}
div.gallery {
  text-align: left;
}

div.gallery:hover {
text-align: center;
}

div.gallery img {
  text-align: right;
}

div.desc {
  padding: 15px;
  text-align: center;
